# Don't track content of these folders
Khangai/
Code_Collection/
Horse/Rocker_Horse/
Horse/Walker_Horse/Single_crank/
Horse/Walker_Horse/Double_crank/Horse_Generator/
Horse/Walker_Horse/Double_crank/Horse/Drivers/
Horse/Walker_Horse/Double_crank/Horse/build/